{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="icon" type="image/x-icon" href="{{ content.favicon.url }}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/patientcss/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="container">
    <nav class="sidebar">
        <div class="logo">
            <h2>{{ request.session.user_name }} (Patient)</h2>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'patient_profile' %}"><i class="fas fa-user-shield"></i> Profile</a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle"><i class="fas fa-calendar"></i> My Appointments <i class="fas fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'today_appointments' %}"><i class="fas fa-circle"></i> Today Appointments</a></li>
                    <li><a href="{% url 'appointment_history' %}"><i class="fas fa-circle"></i> Appointments History</a></li>
                </ul>
            </li>
            <li><a href="{% url 'patient_update_password' %}"><i class="fas fa-key"></i> Update Password</a></li>
            <li><a href="{% url 'website' %}"><i class="fas fa-cog"></i> Support</a></li>
            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <header>
            <h2>Patient Dashboard</h2>
            <div class="date"></div>
            <div class="user-profile">
                <span>{{ request.session.user_name }}</span>
                <i class="fas fa-user"></i>
            </div>
        </header>

      <div class="password-update-container">
        <h2 class="password-update-heading">Update Password</h2>
        <hr class="password-update-underline">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <form class="add-doctor-form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
            <label for="password" class="form-label">Current Password:</label>
            <input type="password" id="password" name="password" class="form-input">
          </div>

          <div class="form-row">
            <label for="new_password" class="form-label">New Password:</label>
            <input type="password" id="new_password" name="new_password" class="form-input">
          </div>

          <div class="form-row">
            <label for="confirm-password" class="form-label">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm_password" class="form-input">
          </div>

          <div class="form-row">
            <button type="submit" class="form-button">Update</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="{% static 'js/patientjs/script.js' %}"></script>

</html>