{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="icon" type="image/x-icon" href="{{ content.favicon.url }}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/admincss/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="container">
    <nav class="sidebar">
      <div class="logo">
        <h2>{{ request.session.user_name }}(Admin)</h2>
      </div>
      <ul class="nav-links">
        <li><a href="{% url 'admin_dashboard' %}" class="active"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="{% url 'admin_profile' %}"><i class="fas fa-user-injured"></i>Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">
            <i class="fas fa-calendar"></i> Appointments
            <i class="fas fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" style="z-index: 1000;">
            <li><a href="{% url 'admin_appointments' %}">Today Appointments</a></li>
            <li><a href="{% url 'admin_appointments_history' %}">Appointments History</a></li>
          </ul>
        </li>
        <li><a href="{% url 'department_list' %}"><i class="fas fa-hospital"></i> Department</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle"><i class="fas fa-user-md"></i> Doctors <i
              class="fas fa-caret-down"></i></a>
          <ul class="dropdown-menu" style="z-index: 1000;">
            <li><a href="{% url 'add_doctor' %}">Add Doctor</a></li>
            <li><a href="{% url 'admin_doctor_list' %}">View Doctors</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle"><i class="fas fa-user-injured"></i> Patients <i
          class="fas fa-caret-down"></i></a>
          <ul class="dropdown-menu" style="z-index: 1000;">
            <li><a href="{% url 'add_patient' %}">Add Patients</a></li>
            <li><a href="{% url 'admin_patient_list' %}">View Patients</a></li>
            <li><a href="{% url 'patients_list' %}">View Patients By Doctor</a></li>
          </ul>
        </li>
        <li><a href="{% url 'website_setting' %}"><i class="fas fa-cog"></i> Website Setting</a></li>
        <li><a href="{% url 'admin_update_password' %}"><i class="fas fa-key"></i> Change Password</a></li>
        <li><a href="{% url 'logout' %}" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </nav>

    <main class="dashboard">
      <header class="dashboard-header">
        <h1>Admin Dashboard</h1>
        <div class="user-profile">
          <span>Admin</span>
          <i class="fas fa-user-circle"></i>
        </div>
      </header>

      <section class="stats">
        <div class="stat-card">
          <div class="stat-text">
              <p>Total Appointments</p>
              <h2>{{ total_appointments_count }}</h2>
          </div>
          <div class="stat-icon">
              <i class="fas fa-calendar-alt"></i>
          </div>
        </div>
        <div class="stat-card">
            <div class="stat-text">
                <p>Today Appointments</p>
                <h2>{{ today_appointments_count }}</h2>
            </div>
            <div class="stat-icon">
                <i class="fas fa-calendar-check"></i>
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-text">
                <p>All Completed Appointments</p>
                <h2>{{ completed_appointments_count }}</h2>
            </div>
            <div class="stat-icon">
                <i class="fas fa-calendar-alt"></i>
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-text">
                <p>Future Appointments</p>
                <h2>{{ future_appointments_count }}</h2>
            </div>
            <div class="stat-icon">
                <i class="fas fa-calendar-plus"></i>
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-text">
                <p>Total Departments</p>
                <h2>{{ total_departments_count }}</h2>
            </div>
            <div class="stat-icon">
                <i class="fas fa-hospital"></i>
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-text">
                <p>Total Doctors</p>
                <h2>{{ total_doctors_count }}</h2>
            </div>
            <div class="stat-icon">
                <i class="fas fa-user-md"></i>
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-text">
                <p>Total Admins</p>
                <h2>{{ total_admins_count }}</h2>
            </div>
            <div class="stat-icon">
                <i class="fas fa-user-shield"></i>
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-text">
                <p>Total Patients</p>
                <h2>{{ total_patients_count }}</h2>
            </div>
            <div class="stat-icon">
                <i class="fas fa-user-injured"></i>
            </div>
        </div>
    </section>    
    </main>
  </div>
</body>
<script type="text/javascript" src="{% static 'js/adminjs/script.js' %}"></script>
</html>